In [7]:
import pandas as pd
import numpy as np

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [13]:
# TIMES
rng = pd.date_range(start='July 15, 2016 10:15', end='2016 July 25', freq = '8H')
rng
print('There are ' + str(len(rng)) + ' periods.')

DatetimeIndex(['2016-07-15 10:15:00', '2016-07-15 18:15:00',
               '2016-07-16 02:15:00', '2016-07-16 10:15:00',
               '2016-07-16 18:15:00', '2016-07-17 02:15:00',
               '2016-07-17 10:15:00', '2016-07-17 18:15:00',
               '2016-07-18 02:15:00', '2016-07-18 10:15:00',
               '2016-07-18 18:15:00', '2016-07-19 02:15:00',
               '2016-07-19 10:15:00', '2016-07-19 18:15:00',
               '2016-07-20 02:15:00', '2016-07-20 10:15:00',
               '2016-07-20 18:15:00', '2016-07-21 02:15:00',
               '2016-07-21 10:15:00', '2016-07-21 18:15:00',
               '2016-07-22 02:15:00', '2016-07-22 10:15:00',
               '2016-07-22 18:15:00', '2016-07-23 02:15:00',
               '2016-07-23 10:15:00', '2016-07-23 18:15:00',
               '2016-07-24 02:15:00', '2016-07-24 10:15:00',
               '2016-07-24 18:15:00'],
              dtype='datetime64[ns]', freq='8H')

There are 29 periods.

In [ ]:
# Which of these formats DON'T work?
#'2016 Jul 1', '7/1/2016', '1/7/2016', 'July 1, 2016', '2016-07-01', '2016/07/01'

# 1/7/2016 won't work because the pandas uses US formatted dates for ambiguous results.

In [ ]:
# Is '7/1/2016 in January or July?

# July (pandas uses US formatted dates for ambiguous results)

In [ ]:
# What is the class of an individual object held in the date_range?

# Pandas DateTime

In [14]:
# TIME STAMPS VS TIME SPANS
pd.Timestamp('2016-07-10')

Timestamp('2016-07-10 00:00:00')

In [15]:
# You can also more details 
pd.Timestamp('2016-07-10 10')

Timestamp('2016-07-10 10:00:00')

In [16]:
# Or even more...
pd.Timestamp('2016-07-10 10:15')

Timestamp('2016-07-10 10:15:00')

In [19]:
# How much detail can you add?
pd.Timestamp('2016-07-10 10:15:30.0256')

Timestamp('2016-07-10 10:15:30.025600')

In [21]:
# What are some properties of timestamps? Try them out.
# hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components
t = pd.Timestamp('2016-07-10 10:15')
t

Timestamp('2016-07-10 10:15:00')

In [22]:
# TIME SPANS
pd.Period('2016-01')

Period('2016-01', 'M')

In [23]:
# What's that extra info above? How does it get set?

# Resolution based on most discrete range provided (i.e. 01 indicates the month of Jan, so month is the period resolution)

In [24]:
pd.Period('2016-01-01')

Period('2016-01-01', 'D')

In [25]:
pd.Period('2016-01-01 10')

Period('2016-01-01 10:00', 'H')

In [26]:
pd.Period('2016-01-01 10:10')

Period('2016-01-01 10:10', 'T')

In [27]:
pd.Period('2016-01-01 10:10:10')

Period('2016-01-01 10:10:10', 'S')

In [33]:
# What's the most detailed Period you can get?
pd.Period('2016-01-01 10:10:10.1')
pd.Period('2016-01-01 10:10:10.01')
pd.Period('2016-01-01 10:10:10.001')
pd.Period('2016-01-01 10:10:10.0001')
pd.Period('2016-01-01 10:10:10.00001')
pd.Period('2016-01-01 10:10:10.000001')
pd.Period('2016-01-01 10:10:10.0000001')
pd.Period('2016-01-01 10:10:10.00000001')

Period('2016-01-01 10:10:10.100', 'L')

Period('2016-01-01 10:10:10.010', 'L')

Period('2016-01-01 10:10:10.001', 'L')

Period('2016-01-01 10:10:10.000100', 'U')

Period('2016-01-01 10:10:10.000010', 'U')

Period('2016-01-01 10:10:10.000001', 'U')

Period('2016-01-01 10:10:10', 'S')

Period('2016-01-01 10:10:10', 'S')

In [35]:
# How can you make multiple time periods? 
# Hint look for analogy with pd.date_range() above

idx = pd.period_range('2014-07-01 09:00', periods=5, freq='H')
idx

PeriodIndex(['2014-07-01 09:00', '2014-07-01 10:00', '2014-07-01 11:00',
             '2014-07-01 12:00', '2014-07-01 13:00'],
            dtype='period[H]', freq='H')

In [36]:
# TIME OFFSETS
rng + pd.Timedelta('1 day')

DatetimeIndex(['2016-07-16 10:15:00', '2016-07-16 18:15:00',
               '2016-07-17 02:15:00', '2016-07-17 10:15:00',
               '2016-07-17 18:15:00', '2016-07-18 02:15:00',
               '2016-07-18 10:15:00', '2016-07-18 18:15:00',
               '2016-07-19 02:15:00', '2016-07-19 10:15:00',
               '2016-07-19 18:15:00', '2016-07-20 02:15:00',
               '2016-07-20 10:15:00', '2016-07-20 18:15:00',
               '2016-07-21 02:15:00', '2016-07-21 10:15:00',
               '2016-07-21 18:15:00', '2016-07-22 02:15:00',
               '2016-07-22 10:15:00', '2016-07-22 18:15:00',
               '2016-07-23 02:15:00', '2016-07-23 10:15:00',
               '2016-07-23 18:15:00', '2016-07-24 02:15:00',
               '2016-07-24 10:15:00', '2016-07-24 18:15:00',
               '2016-07-25 02:15:00', '2016-07-25 10:15:00',
               '2016-07-25 18:15:00'],
              dtype='datetime64[ns]', freq='8H')

In [37]:
pd.Timedelta('15ns')*1000

Timedelta('0 days 00:00:00.000015')

In [38]:
pd.Period('2016-01-01 10:10') + pd.Timedelta('1 day')

Period('2016-01-02 10:10', 'T')

In [39]:
pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('1 day')

Timestamp('2016-01-02 10:10:00')

In [40]:
pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('15 ns')

Timestamp('2016-01-01 10:10:00.000000015')

In [41]:
# FANCY FREQUENCY SETTING
# Only want business days
pd.period_range('2016-01-01 10:10', freq = 'B', periods = 10)

PeriodIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
             '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
             '2016-01-13', '2016-01-14'],
            dtype='period[B]', freq='B')

In [42]:
# It's possible to combine frequencies. What if you want to advance by 25 hours each day. What are the 2 ways to do it?
p1 = pd.period_range('2016-01-01 10:10', freq = '25H', periods = 10)

In [43]:
p2 = pd.period_range('2016-01-01 10:10', freq = '1D1H', periods = 10)

In [44]:
p1

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]', freq='25H')

In [45]:
p2

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]', freq='25H')

In [49]:
# What are some other combos you can produce?
# hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases

pd.period_range('2017-10-22 10:10', freq = 'W-SAT', periods = 10)
pd.period_range('2017-10-22 10:10', freq = 'Q', periods = 10)

PeriodIndex(['2017-10-22/2017-10-28', '2017-10-29/2017-11-04',
             '2017-11-05/2017-11-11', '2017-11-12/2017-11-18',
             '2017-11-19/2017-11-25', '2017-11-26/2017-12-02',
             '2017-12-03/2017-12-09', '2017-12-10/2017-12-16',
             '2017-12-17/2017-12-23', '2017-12-24/2017-12-30'],
            dtype='period[W-SAT]', freq='W-SAT')

PeriodIndex(['2017Q4', '2018Q1', '2018Q2', '2018Q3', '2018Q4', '2019Q1',
             '2019Q2', '2019Q3', '2019Q4', '2020Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [58]:
# INDEXING WITH TIME OBJECTS
# You can use these objects for indices
# Let's start with using a date range as above
rng = pd.date_range('2016 Jul 1', periods = 10, freq = 'D')
rng
s1 = pd.Series(range(len(rng)), index = rng)
s1
type(s1.index)
type(s1.index[0])

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')

2016-07-01    0
2016-07-02    1
2016-07-03    2
2016-07-04    3
2016-07-05    4
2016-07-06    5
2016-07-07    6
2016-07-08    7
2016-07-09    8
2016-07-10    9
Freq: D, dtype: int32

pandas.core.indexes.datetimes.DatetimeIndex

pandas._libs.tslib.Timestamp

In [51]:
# You can also use time period indices, in cases where it makes more sense 
# to think about your index as a time span rather than a single point in time

periods = [pd.Period('2016-01'), pd.Period('2016-02'), pd.Period('2016-03')]
ts = pd.Series(np.random.randn(len(periods)), index = periods)
ts

2016-01    0.879640
2016-02   -2.028993
2016-03   -1.060655
Freq: M, dtype: float64

In [56]:
# What type is the index for ts?
type(ts.index)
type(ts.index[0])

pandas.core.indexes.period.PeriodIndex

pandas._libs.period.Period

In [55]:
# Experiment with various indices
# Hint: does ts['2016'] work? 

ts['2016']
ts['2016-01']

2016-01    0.879640
2016-02   -2.028993
2016-03   -1.060655
Freq: M, dtype: float64

0.87963954324572513

In [59]:
# Timestamped data can be convereted to period indices with to_period and vice versa with to_timestamp
ts = pd.Series(range(10), pd.date_range('07-10-16 8:00', periods = 10, freq = 'H'))
ts

2016-07-10 08:00:00    0
2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
2016-07-10 12:00:00    4
2016-07-10 13:00:00    5
2016-07-10 14:00:00    6
2016-07-10 15:00:00    7
2016-07-10 16:00:00    8
2016-07-10 17:00:00    9
Freq: H, dtype: int32

In [60]:
type(ts.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [61]:
ts_period = ts.to_period()
ts_period

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
2016-07-10 12:00    4
2016-07-10 13:00    5
2016-07-10 14:00    6
2016-07-10 15:00    7
2016-07-10 16:00    8
2016-07-10 17:00    9
Freq: H, dtype: int32

In [62]:
type(ts_period.index)

pandas.core.indexes.period.PeriodIndex

In [63]:
ts_period['2016-07-10 08:30':'2016-07-10 11:45'] # we have the concept of overlap with time periods

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
Freq: H, dtype: int32

In [64]:
ts['2016-07-10 08:30':'2016-07-10 11:45'] # we have the concept of include with timestamps

2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
Freq: H, dtype: int32